html, body {
    height: 100%;
}

#app {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-content-wrapper {
    background-color: #eff7ff;
    width: 100%;
    padding-left: 45px;
}

a {
    text-decoration: none !important;
}